{% load analytical %}
{% load staticfiles %}

<html>
<head>
    {% analytical_head_top %}
    <title>BesTap</title>
    <link href=
    "//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel=
    "stylesheet">
    <link href=
    "//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"
    rel="stylesheet">
    <link href=
    "http://fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext"
    rel="stylesheet" type="text/css">
    <link href="{% static 'css/taplists2.css' %}" rel="stylesheet">
    {% analytical_head_bottom %}
</head>
<body>
    {% analytical_body_top %}
    <div class="content">
        <div class="pageheader">
            <h1><a href="/">BesTap Melbourne</a></h1>
            <p class="subt">The best beer on tap in Melbourne - Taplists from <a class="headlink" href="http://nowtapped.com/" target="_blank">nowtapped.com</a> - Ratings from <a class="headlink" href="http://untappd.com/" target="_blank">untappd.com</a></p>
            <a href="http://twitter.com/bestapmelb/" target="_blank" class="top-menua"><div class="twitbutt"><input type="image" src="https://g.twimg.com/Twitter_logo_blue.png" / width="60" height="49"></div></a>
        </div>
        <div class="mainstuff">
           {% block content %} {% endblock %}
        </div>
    </div>
    {% analytical_body_bottom %}
</body>
</html>
