{% load staticfiles %}

<html>
<head>
    <title>BesTap</title>
    <link href=
    "//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel=
    "stylesheet">
    <link href="http://fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">
    <link href="{% static 'css/taplists2.css' %}" rel="stylesheet">
    <meta property="og:image" content="/static/icon.jpg" />                                                                                                   
    <meta property="og:title" content="BesTap Beer" />
    <meta property="og:description" content="The best rated beer on tap in Victoria, New South Wales, and Queensland." />
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
    
      ga('create', 'UA-76983604-1', 'auto');
      ga('send', 'pageview');
    
    </script>
</head>
<body style="background-color: white">
    <div class="content">
        <div class="pageheader">
            <h1><a href="/">BesTap Beer</a></h1>
            <p class="subt">The best beer on tap in Victoria, New South Wales, and Queensland - Taplists from <a class="headlink" href="http://nowtapped.com/" target="_blank">nowtapped.com</a> - Ratings from <a class="headlink" href="http://untappd.com/" target="_blank">untappd.com</a></p>
            <a href="http://twitter.com/bestapmelb/" target="_blank" class="top-menua"><div class="twitbutt"><input type="image" src="https://g.twimg.com/Twitter_logo_blue.png" / width="60" height="49"></div></a>
        </div>
        <div class="statestest">
            <div class="stbordtest">
                <div class="substbordtest">
                  <a href="/VIC">
                    <div class="stboxtest">
                      <img class="stimg" src="/static/melbourne.jpg" align="middle">
                      <div class="stnametest">VIC</div>
                    </div>
                  </a>
                  <a href="/NSW">
                    <div class="stboxtest">
                      <img class="stimg" src="/static/sydney.jpg" align="middle">
                      <div class="stnametest">NSW</div>
                    </div>
                  </a>
                  <a href="/QLD">
                    <div class="stboxtest">
                      <img class="stimg" src="/static/brisbane.jpg" align="middle">
                      <div class="stnametest">QLD</div>
                    </div>
                  </a>
                  <a href="/WA">
                    <div class="stboxtest">
                      <img class="stimg" src="/static/perth.jpg" align="middle">
                      <div class="stnametest">WA</div>
                    </div>
                  </a>
                </div>
            </div>
            <div class="stbordtest2">
                <div class="substbordtest">
                  <a href="/SA">
                    <div class="stboxtest">
                      <img class="stimg" src="/static/adelaide.jpg" align="middle">
                      <div class="stnametest">SA</div>
                    </div>
                  </a>
                  <a href="/TAS">
                    <div class="stboxtest">
                      <img class="stimg" src="/static/hobart.jpg" align="middle">
                      <div class="stnametest">TAS</div>
                    </div>
                  </a>
                  <a href="/ACT">
                    <div class="stboxtest">
                      <img class="stimg" src="/static/canberra.jpg" align="middle">
                      <div class="stnametest">ACT</div>
                    </div>
                  </a>
                  <a href="/ALL">
                    <div class="stboxtest">
                      <img class="stimg" src="/static/all.jpg" align="middle">
                      <div class="stnametest">All!</div>
                    </div>
                  </a>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
