{% extends 'taplists/base_m.html' %}
{% load el_pagination_tags %}


{% block content %}
<div class="filters_m">
    <div>
      <h4 class="pickbars_m">
        <form action="" method="get">
          {{ filter.form.as_p }}
      </form>
    </h4>
  </div>
</div>
</div>

    <ol>
      <div id="listm">
         <ol>
<div class="endless_page_template">
    {% include page_template %}

    {% block js %}
    {{ block.super }}
    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <script src='/static/el-pagination.js'></script>
    <script>$.endlessPaginate({paginateOnScroll: true});</script>
    {% endblock %}

         </ol>
      </div>
    </ol>
  </div>
<div class="clear"></div>
{% endblock %}
