{% extends 'taplists/base.html' %}
{% load el_pagination_tags %}

{% block content %}
<div id="container" class="twocols">
  <div id="left" class="columna">
    <div class="listhead">
      <h2>Top Taps</h2>
    </div>
    <ol> 
      <div id="list2">
         <ol>
             <div class="endless_page_template">
                {% include page_template %}

                {% block js %}
                {{ block.super }}
                <script src="http://code.jquery.com/jquery-latest.js"></script>
                <script src='/static/el-pagination.js'></script>
                <script>$.endlessPaginate({paginateOnScroll: true});</script>
                {% endblock %}
            </div>

         </ol>
  </div>
  </ol>
  </div>
  <div id="right" class="columnb">
    <h2>Filter Taps</h2>
    <h4 class="pickbars">
        <p>Region filtering is Victoria only for now...</p>
        <form action="" method="get">
          {{ filter.form.as_p }}
        <p></p>
        <div class="subbutton"><input type="submit" /></div>
    </form>
</h4>
  </div>  
<div class="clear"></div>
</div>
{% endblock %}
