{% extends 'taplists/base.html' %}

{% block content %}
<div id="container" class="twocols">
  <div id="left" class="columna">
    <div class="listhead">
      <h2>Top Taps</h2>
    </div>
    <ol> 
      <div id="list2">
         <ol>
           {% for tap in filter %}
             <li>
<p><img src="{{ tap.image }}"  alt="" width="80" height="80"><b>{{ tap.beer }}</b><em>{{ tap.brewery }}</em>@{% for bar in tap.bar.all %}{{ bar.bar }}{% include "taplists/comma.html" %}{% endfor %}<br><a class='bodylink' href="http://untappd.com{{ tap.beerurl }}" target="_blank">Rating: {{ tap.rating}}</a></p></li>
           {% endfor %}
         </ol>
      </div>
    </ol>
  </div>

  <div id="right" class="columnb">
    <h2>Filter Taps</h2>
    <h4 class="pickbars">
      <form action="" method="get">
          {{ filter.form.as_p }}
        <p></p>
        <input type="submit" />
      </form>
    </h4>
  </div>  
<div class="clear"></div>
</div>
{% endblock %}
