{% extends 'taplists/base.html' %}

{% block content %}
<div id="container">
  <div id="left" class="leftside">
    <div class="listhead">
      <h2><a href="">Top Taps</a></h2>
    </div>

    <ol> 
      <div id="list2">
         <ol>
           {% for tap in filter %}
             <li><p><b>{{ tap.beer }}</b><em>{{ tap.brewery }}</em>@{% for bar in tap.bar.all %}{{ bar }}{% include "taplists/comma.html" %}{% endfor %}<br><a href="http://untappd.com{{ tap.beerurl }}" target="_blank">Rating: {{ tap.rating}}</a></li>
           {% endfor %}
         </ol>
      </div>
    </ol>
  </div>

  <div id="right" class="rightside">
    <h2>Picky?</h2>
    <h4>Choose the styles you care about:</h4>
    <h4 class="pickbars">
      <form action="" method="get">
          {{ filter.form.as_p }}
        <p></p>
        <input type="submit" />
      </form>
    </h4>
<div class="clear"></div>
{% endblock %}
