{% extends 'taplists/base.html' %}

{% block content %}
<div id="container">
  <div id="left">
    <div class="listhead">
      <h2><a href="">Top Taps</a></h2>
    </div>
    <ol class="thelist"> 
    {% for tap in filter %}
      <li>{{ tap.beer }} - {{ tap.brewery }} - {{ tap.rating }} </li>
      <p>
        {% for bar in tap.bar.all %}
          {{ bar }}
        {% endfor %}
      </p>
    {% endfor %}
    </ol>
  </div>
  <div id="right" class="rightside">
    <h2>Select Bars</h2>
    <h4>Pick the bars you care about:</h4>
    <h4 class="pickbars">
      <form action="" method="get">
          {{ filter.form.as_p }}
        <p></p>
        <input type="submit" />
      </form>
    </h4>

<div class="clear"></div>
{% endblock %}
