h1 a {
    color: #FCA205;
    font-family: 'Lobster';
    padding-left: 15px;
}

.pageheader, .subtitle {
    background-color: #222222;
    margin-top: 0;
    padding: 20px 20px 20px 40px;
    width: 100%;
}

.pageheader h1, .pageheader h1 a, .pageheader h1 a:visited, .pageheader h1 a:active {
    color: #ffffff;
    font-size: 36pt;
    text-decoration: none;
    padding-left: 0px;
}

p {
    color: #222222;
}

.subt { 
    color: #ffffff;
}

h2 a {
    color: #080808;
    padding-left: 15px;
}

ol{
    padding-left: 80px;
}

ol li{
    font-size:20px;
}

ul
{
    list-style-type: none;
}
