h1 a {
    font-family: 'Lobster';
    padding-left: 15px;
}

.pageheader, .subtitle {
    background-color: #363681;
    margin-top: 0;
    padding: 20px 20px 20px 40px;
    width: 100%;
}

.pageheader h1, .pageheader h1 a, .pageheader h1 a:visited, .pageheader h1 a:active {
    color: #ffffff;
    font-size: 36pt;
    text-decoration: none;
    padding-left: 0px;
}

.pageheader h1 a:hover {
    color: #F45B69
}

.headlink {
    color: #ffffff;
}

.headlink:hover {
   color:#F45B69 
}

.bodylink:hover {
   color:#F45B69 
}

button {
   font-family: 'Lobster';
   -webkit-border-radius: 10;
   -moz-border-radius: 10;
   border-radius: 10px;
   height:80px;
   width:100px;
   border: none;
}

button:hover {
    background-color:#F45B69;
    color:#ffffff;
}

button:focus {outline:0;}

input {
   font-family: 'Lobster';
   font-size:20pt;
   -webkit-border-radius: 10;
   -moz-border-radius: 10;
   border-radius: 10px;
   border: none;
}

input:hover {
    background-color:#F45B69;
    color:#ffffff;
}

input:focus {outline:0;}


.top-menua {
   position:absolute;
   top:36px;
   right:30px;
   color: #222222;
   font-size: 20pt;
   font-family: 'Helvetica';
}

.twocols {
  background: linear-gradient(
    to right,
    
    white,
    white 65%,
   
    lightpink 65%,
    pink
  );
  
  /* clearfix */
  overflow: hidden;
}

* {
  box-sizing: border-box;
}

p {
    color: #222222;
}

.subt { 
    color: #ffffff;
}

h2 {
    color: #080808;
    padding-left: 15px;
    font-family:Lobster;
}

h2 a {
    color: #080808;
    padding-left: 15px;
}

ul
{
    list-style-type: none;
}

a { color: #080808;
}

.pickbars {padding-left:40px; font-family:Helvetica }

/* LIST #2 */
#list2 ol { font-style:italic;  font-family:Lobster;  color:#BBBBBB; font-size:40px; }
#list2 ol li {padding-left: 100px; padding-bottom: 5px; padding-top: 5px; vertical-align:middle; }
#list2 ol li p {display: inline-block; vertical-align: top; font-style:normal; font-family:Helvetica;  font-size:16px; color:#222222; }
#list2 ol li p em { display:block; }

img {
    float: left;
    position: absolute;
    left: 85px;
    margin: 0 20px 20px 0;
}

.columna {
  float: left;
  width: 65%;
}

* {
  box-sizing: border-box;
}

.columnb {
  float: left;
  width: 35%;
}

* {
  box-sizing: border-box;
}



